@font-face{
    font-family: myFont;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    font-family: myFont;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:hsl(234, 29%, 20%) ;
}

.container{
    display: flex;
    width: 800px;
    background-color:hsl(0, 0%, 100%) ;
    padding: 40px;
    border-radius: 20px;
}
.right{
    width: 60%;
}
.container .left{
    width: 40%;
}
.container .left img{
    width: 100%;
}
.container .right ul{
    list-style-image: url(../assets/images/icon-list.svg);
}
.container .right form{
    display: flex;
    flex-direction: column;
    width: 300px;

}
.container .right form label{
    margin-bottom: 10px;
}
.container .right form input{
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%);
}
.container .right form button{
    font-family: inherit;
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    background-color: hsl(234, 29%, 20%);
}
.container .right form button:hover{
    background-color: hsl(4, 100%, 67%);
    transition: all 1s;
}
.container .right h1{
    font-size: 50x;
}
.hide{
    display: none;
}

.container-2{
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
}
.container-2 h1{
   font-size: 40px; 
}
.container-2 .icon-card-2{
    width: 50px;
}
.container-2 button{
    width: 100%;
    font-family: inherit;
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    background-color: hsl(234, 29%, 20%);
}
@media (max-width:768px){
    body{
        padding: 0;
        margin: 0;
    }
    .container {
        flex-direction: column-reverse;
        width: 95%;
        padding: 0;
    }
    .container .right h1{
        font-size: 30x;
    }
    .right{
        width: 100%;
        padding: 20px;
    }
    .container .left{
        width: 100%;
    }
    .container .left img{
        content: url(../assets/images/illustration-sign-up-mobile.svg);
    }
    .container .right form{
        width: 90%;
    }
    .container-2{
        min-height: 100vh;
    }

}